@media all and (max-width:800px){
footer li {
		display: none;
	}
}
@media all and (min-width:800px) {
	footer li {
		display: inline;
	}

	/* 页脚竖线 */
	footer li:before {
		margin-right: 0.5em;
		content: '|';
	}
	footer li:first-child:before {
		content: ' ';
	}
}
/*brand高度*/
.navbar-brand{
	padding-top: 4.5px;
}

/*导航标题描点偏移*/
.nav-title:target{
	padding-top: 60px;
	margin-top: -55px;
}